<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

   <bean id="order" class="com.bean.Order" init-method="init" destroy-method="destory">
      <property name="name" value="Java核心基础卷"></property>
   </bean>

   <!-- bean的后置处理器配置 -->
   <!--BeanPost类实现了BeanPostProcessor接口，Spring可以将其自动识别为后置处理器-->
   <!--这样配置后置处理器后，该配置文件中的所有bean都添加后置处理器的处理-->
   <bean id="beanPost" class="com.bean.BeanPost"></bean>

</beans>